<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>
      Hello, this is the homepage.
    </title>
  </head>

  <body>
    {{> header}}

    <p>{{screamIt firstPar}}</p>
    <p>{{secondPar}}</p>

    {{> footer}}
  </body>
</html>
